@import "reset.css";

body, input{
  font-family: 'Times New Roman', 'Noto Serif KR', Times, serif; 
}

.hidden{
  display: none;
}


.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: #fff;
  height: 100vh;
  width: 100vw;
}
.main .container{
  margin: auto;
  padding: 12px 20px;
  background-color: rgba(0, 0, 0, 0.15);
  max-width: 340px;
}

#login-input{
  margin: 4px 0;
  height: 28px;
  width: 100%;
  color:#fff;
  background-color:rgba(255, 255, 255, 0.0);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(220, 220, 220, 0.8);
}
#login-input::placeholder{
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
#login-btn{
  /* margin: 4px;
  margin-left: 14px;
  height: 24px;
  border: none;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5); */
  display: none;
}

.main .container .greeting h2{
  font-size: 24px;
  font-weight: 500;  
  text-align: center;
  padding-top: 12px;
}


.main .container .clock {  
  text-align: center;
}
.main .container .clock h2{
  margin-top: 16px;
  font-size: 64px;
  font-weight: 500;
}
.main .container .clock h3{
  margin-top: 16px;  
  font-size: 28px;
}
.main .container .clock h4{
  margin-top: 16px;  
  font-size: 20px;
}

.todo{
  width: 300px;
  position: absolute;
  bottom: 24px;
  right: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 12px 20px;
}
.todo input{
  width: 284px;
  height: 18px;
  padding: 4px 8px;
  color: rgb(200, 200, 200);
  background-color:rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 16px;
}
.todo li{
  margin: 4px 0;
  padding: 0 8px;
}
.todo li span{
  font-size: 16px;
  margin-right: 10px;
  font-weight: 500;
}
.todo li button{
  position: relative;
  left: 4px;
  border: none;
  border-radius: 50%;
  font-size: 4px;
  font-weight: 700;
  height: 26px;
  width: 26px;
}


.weather{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 8px 16px;
  font-size: 16px;
  width: 100vw;
  text-align: right;
  color: #fff;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.1)); 
}
.weather span {
  margin-left: 8px;
}


.background img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}